# Alchemy, Infura, or any public Sepolia node RPC provider URL
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/cb4e5d62e5e34edda4ff0f1b6b8c3b0f

# Your MetaMask account private key (Ensure this account has some Sepolia testnet ETH)
PRIVATE_KEY=8282ee7e001ad396eeaf3d6af82d434b4c685a9e05c3458fdbc364054b96aaba
